#areabotao{
    display: block;
    background-color: blanchedalmond;
    width: auto ;
    height: auto;
    padding: 15px;
    opacity: 0.6;
    margin-top: -10px;
    margin-left: -5px;
    margin-right: -5px;
}
#opcao{
    text-align: center;
    border-radius: 20px;
    margin-bottom: 377px;
    margin-top: 400px;

}
a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    align-items: center; 
}
#botao{
    margin-top: ;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 10px 13px black;
    border: 1px solid black;
}

#botao:hover{
    background-color:darkgoldenrod;
    color: white;
}
a:hover{
    background-color:darkgoldenrod;
    color: white;
}