body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#area {
    border: 2px solid black;
    padding: 10px;
    height: 20px;
    background-color: #FEF8C5;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px black;

}

#menu {
    float: left;
    font-size: 18px;
}

a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color:darkgoldenrod;
    color: white;
}

#logos{
    display: block;
    background-color: blanchedalmond;
    width: auto ;
    height: auto;
    padding: 15px;
    opacity: 0.6;
    margin-top: -10px;
    margin-left: -5px;
    margin-right: -5px;
}
#pax{
    margin-right: 120px;
    margin-top: 34px;
}
#odonto{
    margin-top: 10px;
}
#cepax{
    margin-top: 20px;
    margin-bottom: 69px;
}