body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#area {
    border: 2px solid black;
    padding: 10px;
    height: 20px;
    background-color: #FEF8C5;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px black;
}

#menu {
    float: left;
    font-size: 18px;
}

a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: darkgoldenrod;
    color: white;
}

#logos {
    float: right;
    padding: 30px;
    /*este efeito troca o cursor do mouse.*/
    cursor: pointer;
}

#odonto:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#pax:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#cepax:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#pe{
    border: 1px solid black;
}